<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--   <test thread-count="5" name="Test">
  	<classes>
  		<class name="runner.Runner"></class>
   		<class name="Test2.HooksClass"></class>
 		<class name="Test2.CucumberTestAgain"></class>
  		<class name="Test2.CucumberTest2"></class> 
  	</classes>
  </test> Test -->
  
  <test thread-count="5" name="FrameWorkOne">
  	<classes>
  		<class name="FrameworkOne.Runner.Runner"></class>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
